# Proyecto #5 - Modificando DataFrames sobre un DataSet que Contiene el Inventario de Una Tienda de Jardinería

Eres el principal analista de datos de una cadena de tiendas de jardinería llamada Petal Power. Ayúdeles a analizar su inventario!

1. Los datos de todas las ubicaciones de Petal Power están en el archivo `inventory.csv`. Cargue los datos en un DataFrame llamado `inventory`

In [5]:
import pandas as pd
inventory = pd.read_csv('inventory.csv')

2. Inspeccione las primeras 10 filas del inventario

In [6]:
inventory.iloc[:10]

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

3.Las primeras 10 filas representan datos de su ubicación en Staten Island. Seleccione estas líneas y grábelas en `staten_island`.

In [7]:
staten_island = inventory[inventory['location'] == 'Staten Islam']
print(staten_island)

Empty DataFrame
Columns: [location, product_type, product_description, quantity, price]
Index: []

4.Un cliente acaba de enviarle un correo electrónico preguntándole qué productos se venden en su localidad de Staten Island. Seleccione la columna `product_description` de `staten_island` y guárdela en la variable `product_request`.

In [8]:
product_request = staten_island['product_description']
print(product_request)

Series([], Name: product_description, dtype: object)

5.Otro cliente envía un correo electrónico para preguntar qué tipos de semillas se venden en la sede de Brooklyn.
Seleccione todas las filas donde la `location` es igual a `Brooklyn` y el `product_type` es igual a las semillas `seeds` y guárdelas en la variable `seed_request`.

In [13]:
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]
print(seed_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

6.Añada una columna a un inventario `inventory` llamado `in_stock` que sea `True` si `quantity` es mayor que 0 y `False` if `quantity` es igual a 0.

In [19]:
inventory['in_stock'] = inventory.apply(
    lambda row: True if row['quantity'] > 0 else False,
    axis=1
)
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

7.Petal Power quiere saber cuán valioso es su inventario actual.
Cree una columna llamada `total_value` que sea igual a `price` multiplicado por `quantity`.

In [21]:
inventory['total_value'] = inventory['quantity'] * inventory['price']
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value
0        27.96
1       919.54
2      1189.15
3        55.96
4         0.00

8.El departamento de Marketing desea una descripción completa de cada producto para su catálogo.
La siguiente función lambda combina el `product_type` y `product_description` en una sola cadena:

`
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
`

9. Utilizando `combine_lambda`, cree una nueva columna en `inventory` llamada `full_description` que contenga la descripción completa de cada producto.

In [24]:
combine_lambda =

In [27]:
inventory['full_description'] = inventory.apply(
    lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description),
    axis=1
)

In [28]:
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value            full_description
0        27.96               seeds - daisy
1       919.54          seeds - calla lily
2      1189.15              seeds - tomato
3        55.96         garden tools - rake
4         0.00  garden tools - wheelbarrow